body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #00ff00;
}

figcaption {
  text-align: center;
  font-size: 12px;
}

#featured-property > p {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

div {
  float: left;
  text-align: center;
  width: 25%;
  background-color: #ff00ff;
}
